html,
body {
  height: 100%;
}

body {
  display: flex;
  padding: 160px 0;
  align-items: flex-start;
  justify-content: center;
  background-color: #0f1119;
}

:root {
  --button-bg-color: #c666e7;
  --button-bg-color-second: #e3ac4a;
  --button-pulse-color: #f0b86491;
}

.button {
  padding: 16px 28px;
  color: #fff;
  background-image: linear-gradient(
    135deg,
    var(--button-bg-color),
    var(--button-bg-color-second)
  );
  font-size: 18px;
  font-family: "Bricolage Grotesque", sans-serif;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.pulse {
  animation: Pulse 2s
    cubic-bezier(0.6, 0.2, 0.4, 1) 0.5s infinite;
}

@keyframes Pulse {
  from {
    box-shadow: 0 0 0 0 var(--button-pulse-color);
  }

  to {
    box-shadow: 0 0 4px 20px transparent;
  }
}
